<li>
    <div class="iocn-link">
      <a href="#">
        <i class='bx bx-pie-chart-alt-2' ></i>
        <span class="link_name">Admin Dashboard</span>
      </a>
      <i class='bx bxs-chevron-down arrow' ></i>
    </div>
    <ul class="sub-menu">
      <li><a class="link_name" href="#">Admin Dashboard</a></li>
      <li><a href="/info/officials">Officials</a></li>
      <li><a href="#">Games</a></li>
      <li><a href="#">Announcements</a></li>
      <li><a href="#">Game Pay</a></li>
      <li><a href="#">Payments</a></li>
      <li><a href="#">Send Emails</a></li>
      <li><a href="#">Company Settings</a></li>
    </ul>
</li>