{% extends "companybase2.html" %}

{% block title %}
    Complexes
{% endblock title %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>Complex</th>
                <th>Address</th>
                <th>Map of Feilds</th>
            </tr>
        </thead>
        <tbody>
            {% for complex in complexes  %}
                <tr>
                    <td>{{complex.name}}</td>
                    <td>{{complex.address}}</td>
                    <td>coming soon...</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock main  %}