{% extends 'company/companybase2.html' %}
{% load static %}
{% block title %}Complexes{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'company/complexs.css' %}">
{% endblock style %}
{% block main %}
<div style="padding: 20px;">
    <h1>Complexes</h1>
        <div>
            <div class="search-container">
                <span>
                    <input type="text" id="search-bar" placeholder="Search Complexes...">
                </span>
            </div>                 
            <div class="data-table-container"> 
                <table class="data-table">
                    <thead>
                         <tr>
                            <th class='id'>Complex ID</th>
                            <th class='name'>Name</th>
                            <th class='addr'>Address</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id='tbody'>

                    </tbody>
                </table>
            </div>
        </div>
</div>
{% endblock main %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
    const searchInput = document.getElementById('search-bar');
    const tableBody = document.querySelector('#tbody');

    let data = {{complexsData | safe}};

    // Function to populate the table with data
    function populateTable(data) {
        tableBody.innerHTML = ''; // Clear existing rows

        data.forEach(complex => {
            const row = document.createElement('tr');
            row.innerHTML = `
            <td class='id'><a href="/company/{{employment.company.id}}/info/complexs/${complex.id}">${complex.id}</td>
            <td class='name'>${complex.name}</td>
            <td class='addr'>${complex.address}</td>
            <td><button type="button" class="moreInfoButton">Expand Fields</button></td>
            `;
            tableBody.appendChild(row);

            const fieldRow = document.createElement('tr');
            fieldRow.innerHTML = `
            <td colspan="4">
                <table>
                    <tbody>
                        ${complex.feilds.map(feild => `<tr class='feildRow'><td class='feildtd'>${feild}</td></tr>`)}
                    </tbody>
                </table>
            </td>
            `;
            fieldRow.className = 'hiddenFeilds'
            tableBody.appendChild(fieldRow);
        });
        moreInfoButtons()
    }
    // Event listener for the search input
    function checkvals() {
        const searchTerm = searchInput.value.toLowerCase();
        // Filter the data based on the search term
        const filteredData = data.filter(item => {
            return item.name.toString().includes(searchTerm)
        });
        // Update the table with filtered data
        populateTable(filteredData);
    }
    function moreInfoButtons(){
        const moreInfoButtons = document.querySelectorAll('.moreInfoButton');
        moreInfoButtons.forEach(button => {
            button.addEventListener('click', () => {
                const row = button.parentElement.parentElement; // Get the parent <tr> element
                const expandedInfo = row.nextElementSibling;
    
                if (expandedInfo && expandedInfo.classList.contains('hiddenFeilds')) {
                    if (expandedInfo.style.display === 'none' || expandedInfo.style.display === ''){
                        expandedInfo.style.display = 'table-row';
                        button.textContent = 'Hide Fields';
                    }else{
                        expandedInfo.style.display = 'none';
                        button.textContent = 'Expand Fields';
                    }
                }
            });
        });
    }

    populateTable(data);
    searchInput.addEventListener('input', checkvals);

    
});
</script>
{% endblock scripts %}