/* Apply these styles to the table and its headers */
table {
    width: 100%;
    border-collapse: collapse;
}
.data-table{
    margin: 20px;
}
.data-table-container {
    display: flex;
    justify-content: center;
}

th, td {
    padding: 8px 16px;
    text-align: left;
    text-overflow: ellipsis;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}


/* the search bar and criteria stuff */
.search-container {
    text-align: center;
    width: 100%;
    margin: 5px auto; /* Center the container horizontally */
}

#search-bar {
    width: 100%; /* You can adjust this width as needed */
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
    height: 40px;
    background-color: white;
    margin-bottom: 5px;
    border-radius: 5px;
}

.hiddenFeilds{
    display: none;
}

.feildRow, .feildtd{
    border-top: 1px solid #ddd;
}


/* Media query for screens smaller than a certain width (e.g., 768px) */
@media (max-width: 768px) {
    .league, .refs, .field  {
        display: none;
    }
    .search-container{
        grid-template-columns: 1fr;
    }


}
